extends layout

block content
    .section(style='background-image: url("/img/club.jpg")')
        .text-center
            h1 Welcome to dating app
            p.lead Meet interesting people on the way
            hr
            h3 Download from AppStore | PlayMarket
            a(href='https://itunes.apple.com/ru/genre/ios/id36?mt=8')
                img(src='/img/appstore-badge.svg' width='135' height='40' alt='Download from AppStore')
            a(href='https://play.google.com/store?hl=ru')
                img(src='/img/google-play-badge.png' height='60' alt='Download from PlayMarket')
    .section
        h1 Application description
    .section
        h1 Benefics and perks
    .section
        h1 Stats
    .section.container
        h1 Other info
        p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in dolor eu lacus fermentum porta tincidunt vitae leo. Vivamus semper euismod risus, placerat iaculis augue pellentesque at. Duis rhoncus sem purus, ac imperdiet erat convallis ac. Nam facilisis nibh ac turpis scelerisque euismod. Duis eget tempor leo, a volutpat nulla. Morbi viverra felis lectus, at vestibulum eros congue at. Pellentesque tincidunt sagittis tempor. Aliquam pulvinar lacus vitae nibh consectetur, vitae iaculis felis tempor.
            | Ut id velit eu ligula maximus maximus. Duis congue est sit amet aliquam viverra. Etiam ligula nulla, cursus sit amet laoreet quis, tempus nec libero. Suspendisse sit amet tortor purus. Nunc congue tortor ut dolor elementum volutpat. Vivamus mattis enim a eros faucibus hendrerit. Aliquam iaculis magna velit, ut condimentum augue aliquam et. Cras gravida a leo et fermentum. Mauris imperdiet fringilla lorem sit amet vulputate. Duis suscipit, felis ut efficitur malesuada, nulla ligula gravida sem, et viverra mi tortor vel elit.
            | Ut ut pulvinar orci. Donec cursus mollis nisi, a pulvinar lacus placerat ac. Cras purus augue, accumsan non pharetra ultrices, gravida quis neque. Aenean rutrum lectus arcu, sed egestas felis auctor at. Quisque ac quam quis neque auctor porta ac vel nisi. Vivamus ac libero imperdiet, pellentesque odio sed, ultrices massa. Nullam eget magna at sem efficitur blandit nec ac quam. Donec fringilla orci leo, sit amet tempor nulla convallis id. Aliquam erat volutpat.
            | Suspendisse id pharetra sapien. Mauris eu tortor convallis, mattis orci eget, volutpat dui. Suspendisse pretium scelerisque ex, at tempor nunc malesuada sit amet. Curabitur at laoreet tellus, in placerat tortor. Proin scelerisque lacus tristique, imperdiet risus finibus, maximus ligula. Maecenas lobortis ullamcorper sapien, vitae posuere sem accumsan vel. Curabitur vehicula elementum mauris, vitae volutpat ante. Donec dapibus lorem ultricies accumsan tincidunt. Suspendisse purus tortor, laoreet nec lectus vitae, dictum laoreet dui. Sed elementum sapien cursus sapien suscipit rhoncus. Morbi leo sem, ullamcorper sit amet massa id, posuere mattis sapien. Pellentesque porta, enim quis maximus blandit, augue eros congue leo, eget sodales dui dolor sed risus. Praesent at est molestie, tempus nibh vel, scelerisque massa. Curabitur a feugiat nisi, in consequat dui.
            | Vestibulum sit amet ornare metus, vel hendrerit ex. Vivamus lobortis tincidunt velit eu porta. Vivamus convallis bibendum ante nec rhoncus. Phasellus cursus ante convallis, tincidunt nisl quis, pulvinar ipsum. Donec sit amet pellentesque tellus. Donec ut convallis leo, quis convallis lacus. Donec finibus vel urna in fermentum. Pellentesque aliquam quam leo, et consequat ipsum placerat gravida. Praesent pellentesque interdum nisi et semper.